extends layout.pug
block content

  .container
    .row
      .col-xs-10.col-xs-offset-1
        table.table-striped
          thead
            tr
              th #
              th name
              th email
              th job
          tbody
            each user, index in users
              tr
                td= (index+1)
                td= user.name
                td= user.email
                td= user.job
            else
              tr
                td(colspan='4') No users defined.


    .row
      ul
        - var iterator = 0;  
        while iterator < 10
          li= iterator++          
    
  if includes
  include includes/users_footer.pug

  +user('Kati')
    span Kati kiváló elme
  +user('Pisti')
  +user('Sanyi')

  



  //- mixinnel gyakran használt kódrészleteket lehet automatizálni
  //- paramétert is átadhatok neki